debootstrap:
  # Since the formula builds on top debootstrap-formula, you might
  # want to customize some of its pillar data too... see documentation
  # of debootstrap-formula
  basedir: /srv/chroots
  vendor:
    repositories:
      default: http://ftp.fr.debian.org/debian

schroot:
  basedir: /srv/chroots  # Defaults to debootstrap:basedir or /srv/chroots
  schroot.conf:  # Default config for all schroots (will be updated with
                 # per-chroot setting)
    profile: default
    groups: root,rhertzog
  # List of chroots to setup with debootstrap and to manage with schroot
  chroots:
    unstable:  # Basename of the chroot for schroot
      # Required parameters
      vendor: debian
      dist: sid
      # Optional parameters for schroot-formula
      directory: /srv/chroots/unstable  # Defaults to <basedir>/<name>-<arch>
      architectures:
        - amd64
        - i386
      test_alias: True  # Create unstable-<arch>-test schroot with aufs overlay
      schroot.conf:
        profile: desktop
        description: @VENDOR@ @DIST@/@ARCH@ development chroot
        groups: root,rhertzog
        root-groups: root,rhertzog
      schroot_name_format: '{name}-{arch}' # Official name is basename + architecture
      dist_aliases: True  # Generate aliases based on alternate names of the repository
      short_alias: True   # Generate a short alias without the architecture too
      # Optional parameters from debootstrap-formula 
      arch: amd64
      components:
        - main
      extra_dists:
        - experimental
      with_source: True
      debootstrap_options: ''
      cdebootstrap_options: --flavour=standard
